# Based on https://github.com/ionic-team/capacitor-plugins/blob/main/.github/workflows/ci.yml
name: "CI"
permissions:
  contents: read
on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - '**'

jobs:
  lint:
    runs-on: macos-15
    timeout-minutes: 30
    name: "Linting"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm ci
      - run: npm run lint

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    name: "Unit Tests"
    needs:
      - lint
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm ci
      - run: npm test

  verify-ios:
    runs-on: macos-15
    timeout-minutes: 30
    name: "iOS Verification"
    needs:
      - lint
      - test
    steps:
      - run: sudo xcode-select --switch /Applications/Xcode_16.4.app
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm ci
      - run: npm run verify:ios

  verify-android:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    name: "Android Verification"
    needs:
      - lint
      - test
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - name: set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'zulu'
      - uses: android-actions/setup-android@v3
      - name: Install Android SDK 36 packages
        run: sdkmanager "platforms;android-36" "build-tools;36.0.0" "platform-tools"
      - run: npm ci
      - run: npm run verify:android

  verify-web:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    name: "Web Verification"
    needs:
      - lint
      - test
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm ci
      - run: npm run verify:web

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    name: "Build Plugin"
    needs:
      - verify-web
      - verify-ios
      - verify-android
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm ci
      - run: npm run build

  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    timeout-minutes: 30
    name: "Publish Plugin"
    needs:
      - build
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm ci
      - run: npm run prepublishOnly
      - name: 'Semantic Release'
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
